/* line 1, ../scss/overrides.scss */
.top-bar-section ul {
  background: rgba(50, 50, 50, 0);
}
/* line 3, ../scss/overrides.scss */
.top-bar-section ul li.active a {
  background: rgba(100, 100, 100, 0.7);
}

/* line 8, ../scss/overrides.scss */
.top-bar-section li a:not(.button):hover {
  background: rgba(100, 100, 100, 0.4);
}

/* line 13, ../scss/overrides.scss */
.top-bar:hover {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
