/* line 1, ../scss/overrides.scss */
.top-bar-section ul {
  background: rgba(50, 50, 50, 0);
}

/* line 6, ../scss/overrides.scss */
.top-bar:hover {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
