.top-bar-section ul{
  background: rgba(50,50,50,.0);
  li.active a{
    background: rgba(100,100,100,.7);
  }
}

.top-bar-section li a:not(.button):hover{
  background: rgba(100,100,100,.4);
}

.top-bar{
  &:hover{
    background: rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
}

